/* Colors 
body background: #131417
tile background: #1e1f26 
username: #b7bbc8
card stats background: #131417
*/

:root {
    --font-main: 'Noto Sans', sans-serif;
    --bg-main: #131417;
    --bg-card: #1e1f26;
    --bg-stats: #131417;
    --username: #b7bbc8;
}

h3,p {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
}
html, body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-main);
    color: white;
}

.card {
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    max-width: 320px;
    background-color: var(--bg-card);
    border-radius: 10px ;
    transition:all 0.5s;
}
.card-thumbnail img {
    width: 100%;
    display: block;
    border-radius: 10px;
}
.card-avatar img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.card-avatar{
    margin-right: 10px;
}
.card-body{
    display: flex;
    margin-top: 10px;
}
.card-details {
    margin: 0px;
    padding-top: 10px;
}
.card-details p {
    color: var(--username);
}
.card-stats {
    display: none;
    margin: 0px;
    padding: 0px;
}
.card-stats li {
    list-style: none;
    padding: 10px;
    background-color: var(--bg-stats);
    margin: 10px;
    margin-left: 0px;
    border-radius: 10px;

}

.card:hover .card-stats{
    display: flex;
}

.card:hover {
    padding-bottom: 0px;
    filter: drop-shadow(0px 0px 2px rgb(255, 255, 255));
    
}

