body{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

.circle {
    width: 40px;
    height: 40px;
    background-color: rgb(122, 122, 122);
    border-radius: 50%;
    animation: loading 1.5s ease 0s infinite alternate;
}

@keyframes loading {
    0% {
        transform: scale(1);
        background-color: rgb(128, 128, 128);
    }
    100% {
        transform: scale(1.1);
        background-color: rgb(200, 200, 200);
    }
}