body{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: rgb(122, 122, 122);
    border-radius: 50%;
}