html, body {
    margin: 0;
    padding: 0;
}

:root {
    --search-border: #bbb;
    --search-focus-border: #3a71ca;
}

/* w3.org */
.hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
    padding: 5%;
    width: 80%;
    margin: auto;
    min-width: 320px;
}

.search-bar{
    width: 30%;
    border: 2px solid var(--search-border);
    transition:all 0.5s;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;    
}
.search-bar:focus{
    outline: none;
    border: 2px solid var(--search-focus-border);
    border-radius: 5px;
    width: 90%;  
}
.search-bar::placeholder{
    color: var(--search-border);
    transition: color 0.5s;
}
.search-bar:focus::placeholder{
    color: transparent;
}

    